keras==2.15.0
kiwisolver==1.4.5
matplotlib==3.8.2
matplotlib-inline==0.1.7
ml-dtypes==0.2.0
numpy==1.26.4
pandas==2.2.0
regex==2023.12.25
scikit-learn==1.4.1.post1
scipy==1.12.0
spotipy==2.23.0
statsmodels==0.14.1
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.36.0
tensorflow-macos==2.15.0
torch==2.2.2
